@font-face {
    font-family: 'Playlist Script';
    src: url('../webfonts/text/Playlist-Script/Playlist-Script.ttf');
}

@font-face {
    font-family: 'PlayfairDisplayBold';
    src: url('../webfonts/text/PlayfairDisplay/PlayfairDisplayBold.ttf');
}

@font-face {
    font-family: 'PlayfairDisplayRegular';
    src: url('../webfonts/text/PlayfairDisplay/PlayfairDisplayRegular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../webfonts/text/roboto/Robotothin.woff2') format('woff2'), url('../webfonts/text/roboto/Robotothin.woff') format('woff'), url('../webfonts/text/roboto/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../webfonts/text/roboto/Robotothinitalic.woff2') format('woff2'), url('../webfonts/text/roboto/Robotothinitalic.woff') format('woff'), url('../webfonts/text/roboto/Robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('../webfonts/text/roboto/Robotolight.woff2') format('woff2'), url('../webfonts/text/roboto/Robotolight.woff') format('woff'), url('../webfonts/text/roboto/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../webfonts/text/roboto/Robotolightitalic.woff2') format('woff2'), url('../webfonts/text/roboto/Robotolightitalic.woff') format('woff'), url('../webfonts/text/roboto/Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('../webfonts/text/roboto/Roboto.woff2') format('woff2'), url('../webfonts/text/roboto/Roboto.woff') format('woff'), url('../webfonts/text/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../webfonts/text/roboto/Robotoitalic.woff2') format('woff2'), url('../webfonts/text/roboto/Robotoitalic.woff') format('woff'), url('../webfonts/text/roboto/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../webfonts/text/roboto/Robotomedium.woff2') format('woff2'), url('../webfonts/text/roboto/Robotomedium.woff') format('woff'), url('../webfonts/text/roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../webfonts/text/roboto/Robotomediumitalic.woff2') format('woff2'), url('../webfonts/text/roboto/Robotomediumitalic.woff') format('woff'), url('../webfonts/text/roboto/Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../webfonts/text/roboto/Robotobold.woff2') format('woff2'), url('../webfonts/text/roboto/Robotobold.woff') format('woff'), url('../webfonts/text/roboto/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../webfonts/text/roboto/Robotobolditalic.woff2') format('woff2'), url('../webfonts/text/roboto/Robotobolditalic.woff') format('woff'), url('../webfonts/text/roboto/Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('../webfonts/text/roboto/Robotoblack.woff2') format('woff2'), url('../webfonts/text/roboto/Robotoblack.woff') format('woff'), url('../webfonts/text/roboto/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../webfonts/text/roboto/Robotoblackitalic.woff2') format('woff2'), url('../webfonts/text/roboto/Robotoblackitalic.woff') format('woff'), url('../webfonts/text/roboto/Robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('../webfonts/text/robotocondensed/Robotocondensedlight.woff2') format('woff2'), url('../webfonts/text/robotocondensed/Robotocondensedlight.woff') format('woff'), url('../webfonts/text/robotocondensed/Robotocondensedlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url('../webfonts/text/robotocondensed/Robotocondensedlightitalic.woff2') format('woff2'), url('../webfonts/text/robotocondensed/Robotocondensedlightitalic.woff') format('woff'), url('../webfonts/text/robotocondensed/Robotocondensedlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('../webfonts/text/robotocondensed/Robotocondensed.woff2') format('woff2'), url('../webfonts/text/robotocondensed/Robotocondensed.woff') format('woff'), url('../webfonts/text/robotocondensed/Robotocondensed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url('../webfonts/text/robotocondensed/Robotocondenseditalic.woff2') format('woff2'), url('../webfonts/text/robotocondensed/Robotocondenseditalic.woff') format('woff'), url('../webfonts/text/robotocondensed/Robotocondenseditalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('../webfonts/text/robotocondensed/Robotocondensedbold.woff2') format('woff2'), url('../webfonts/text/robotocondensed/Robotocondensedbold.woff') format('woff'), url('../webfonts/text/robotocondensed/Robotocondensedbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url('../webfonts/text/robotocondensed/Robotocondensedbolditalic.woff2') format('woff2'), url('../webfonts/text/robotocondensed/Robotocondensedbolditalic.woff') format('woff'), url('../webfonts/text/robotocondensed/Robotocondensedbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
